{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
     {% if object %}
        Edit goal "{{ object.title }}"
    {% else %}
        Create a new project
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container d-flex w-100 h-100 justify-content-center">
        <form method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <p><input class="btn btn-primary mt-3" type="submit" value="Save Project"></p>
        </form>
    </div>
{% endblock %}

