{% extends 'base.html' %}
{% block head_title %}
 My Projects
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col-6">
            {% for project in projects %}
                <div class="container-sm">
                    <div class="card mb-4">
                        <div class="card-header" >{{ project.title }}</div>
                        <div class="card-body text-left">
                            <a href="{% url 'projects:create' %}">Create</a>
                            <a href="{% url 'projects:update' project.id project.slug %}">Create</a>
                            {{ project.description }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>


{% endblock %}

{% block extra_js %}
    <script>
        document.querySelectorAll('.card').forEach(function (item) {
            item.addEventListener('mouseover', function () {
                item.classList.add('shadow', 'bg-white', 'rounded')
            })
            item.addEventListener('mouseleave', function () {
                item.classList.remove('shadow', 'bg-white', 'rounded')
            })
        })
    </script>

{% endblock %}